@charset "UTF-8";

 /* para mobile */


 
.imgarticle {
                margin: auto;
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;       
                height: 50vh;
                width: 70vw;                    
}

.video { 
                margin: auto;
                width: 80vw;
                padding-top: 40px;
                padding-bottom: 40px;
                display: block;
                margin-bottom: 25px;
                margin-top: 25px;   
}

.contatos {
                display: flex;
                justify-content: space-around;
               color: white;
               width: 70vw;
               margin: auto;          
}

.p-contato {    
                
                filter: contrast(0%);
}

.p-contato:hover {
                filter: contrast(100%)
}

.img-contato {
                text-align: center;
                width: 35px;
                
}

.produzido {
                padding: 5px;
}

footer > p {
                background-color: black;
                color: white;
                text-align: center;
                padding-bottom: 15px;
                padding-top: 15px;
}


