@charset "UTF-8";

 /* para mobile */


 
.imgarticle {
                margin: auto;
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;       
                height: 50vh;                    
}

.video { 
                margin: auto;
                width: 80vw;
                padding-top: 40px;
                padding-bottom: 40px;
                display: block;
                margin-bottom: 25px;
                margin-top: 25px;   
}

.contatos {
               color: white;
               width: 50vw;
               margin: auto;             
}

.p-contato {    
                padding-bottom: 10px;
}

.img-contato {
                text-align: center;
                width: 30px;
}

.produzido {
                padding: 5px;
}

footer > p {
                background-color: black;
                color: white;
                text-align: center;
                padding-bottom: 15px;
                padding-top: 15px;
}


