@charset "UTF-8";

 /* desktop*/


 * {    
    margin: 0px;
    padding: 0px;

}

.divimgbrasil { 
                        background-image: url(../imagens/foto-header.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom bottom;
}

.imgbrasil {    
                        display: block;
                        margin: auto;
                        width: 600px;
}

header {  
                        background-color: var(--cor-menu);
                        padding-top: 5px;
                        padding-bottom: 3px;
          
}


#itens,h2 { 
                        display: inline-block;
                        text-indent: 1em;              
}


.h2brasil {  
                        text-decoration: none;
                        color: var(--cor-h2);
                        display: inline-block;             
}


.h2brasil:hover {
                        color: var(--cor-hoverh2);
                        text-shadow: 3px 3px 5px var(--cor-hoverh2);    
}

#burg {
                        display: none;  
}

.menuheader:hover { 
                        background-color: black;
                        color: white;
                  
}

.menuheader {                       
                        text-decoration: none;
                        color: var(--cor-h2);
                        padding: 10px 10px 3px 10px;
                        display: inline;              
}

h3 {
                        color: white;
                        text-align: center;       
}

hr {    
                        width: 89px;
                        margin: auto;                                
}
#container {
                        display: flex;
}

.container1 {
                        margin-left: 3vw;
                        margin-top: 20px;
}

.containerdetalhe{      margin: auto;
}

.containervip {                 
                        border: 1px solid rgba(255, 255, 255, 0.347);
                        border-radius: 15px;
                        background-color: rgba(255, 255, 255, 0.199);

}

li {    
                        list-style: none;
                        text-align: center;
                        margin: 10px;
                        border-radius: 15px;  
                        background-color: rgba(0, 0, 0, 0.288);
                        height: 5vh;
                        width: 20vw;
}

.vips {
                        text-decoration: none;
                        font-family:  'Mynerve', cursive; 
                        color: white;
}

li:hover {              background-color: black;
}
.vips:hover {           color: #E8BA1C;
}

.h1vip {
                        text-align: center;
                        font-family:  'Mynerve', cursive;
                        color: green;
}

.card-img-top {
                        width: 55vw;
                        margin: auto;
}

.card { 
                        margin-bottom: 20px;
                        text-align: center;
}

.btn {  
                        background-color: rgb(18, 30, 196);
                        color: white; 
                        width: 100px;
                        padding: 5px;
                        cursor: pointer;
}

button { 
                        display: block;
                        margin: auto; 
                        border-radius: 5px;                                          
}

.modal {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        background-color: rgba(0,0,0,0.4);
}

.modal-content {
                        background-color: #fefefe;
                        margin: 20% auto;
                        padding: 10px;
                        border: 1px solid #888;
                        width: 60%;
}

.atençaoaside {
                        width: 55vw;
                        margin: auto;
                        border-radius: 15px;
                        padding: 10px;
                        background-color: #c59e11;
                        margin-top: 15px;
}

h4 {                    text-align: center;

}

.produzido {
                        padding: 5px;
}

footer > p {
                        background-color: black;
                        color: white;
                        text-align: center;
                        padding-bottom: 15px;
                        padding-top: 15px;
                        margin-top: 20px;
}